Language: Cpp
BasedOnStyle: Google
IndentWidth: '4'
UseTab: Never
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
SortIncludes: false